// Colours
$bodyColour: #46412A;
$headingColour: darken($bodyColour, 5%);
$linkColour: #2a7ae2;
$hoverColour: darken($linkColour, 10%);
$captionColour: #444; //lighten($headingColour, 40%);
$white: #fff;

$backgroundColour: #ffffff; //#ffefc8;
$codeBackgroundColour: darken($backgroundColour, 5%);
