// Colours
$bodyColour: #46412A;
$headingColour: darken($bodyColour, 5%);
$linkColour: #2a7ae2;
$hoverColour: darken($linkColour, 10%);
$captionColour: #666; //lighten($headingColour, 40%);
$white: #fff;

$backgroundColour: #FDFDFD; //#ffefc8;
$codeBackgroundColour: #e8e8e8; //darken($backgroundColour, 5%);
